In [97]:
# !pip install pandas
# !pip install openpyxl
# !pip install scikit-learn
# !pip install category_encoders
# !pip install matplotlib
# !pip install seaborn
# !pip install imblearn

import pandas as pd

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn (from imblearn)
  Obtaining dependency information for imbalanced-learn from https://files.pythonhosted.org/packages/a3/9e/fbe60a768502af54563dcb59ca7856f5a8833b3ad5ada658922e1ab09b7f/imbalanced_learn-0.11.0-py3-none-any.whl.metadata
  Downloading imbalanced_learn-0.11.0-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sathya\desktop\ml\customer_churn_prediction\virtual_env\lib\site-packages (from imbalanced-learn->imblearn) (1.25.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\sathya\desktop\ml\customer_churn_prediction\virtual_env\lib\site-packages (from imbalanced-learn->imblearn) (1.11.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\sathya\desktop\ml\customer_churn_prediction\virtual_env\lib\site-packages (from imbalanced-learn->imblearn) (1.3.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sathya\desktop\ml\customer_churn_prediction\virtual_env\lib\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sathya\desktop\ml\customer_churn_prediction\virtual_env\lib\site-packages (from imbalanced-learn->imblearn) (3.2.0)
Downloading imbalanced_learn-0.11.0-py3-none-any.whl (235 kB)
   ---------------------------------------- 0.0/235.6 kB ? eta -:--:--
   ---------- ----------------------------- 61.4/235.6 kB 1.7 MB/s eta 0:00:01
   ------------- ------------------------- 81.9/235.6 kB 919.0 kB/s eta 0:00:01
   ------------------------ --------------- 143.4/235.6 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------  235.5/235.6 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 235.6/235.6 kB 1.0 MB/s eta 0:00:00
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.11.0 imblearn-0.0

In [ ]:
csv_file_path = 'customer_churn_large_dataset.xlsx'
df = pd.read_excel(csv_file_path)
df.head()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe(include="all")

In [ ]:
# The average churn rate is approximately 0.498, indicating that about half of the customers in the dataset have churned

In [ ]:
df.isnull().sum()

In [ ]:
import seaborn as sns

sns.heatmap(df.isnull())

In [ ]:
#there are no null values

In [ ]:
df.columns.values

In [ ]:
df.head()

In [ ]:
df=df.drop(["CustomerID","Name"],axis=1)

In [ ]:
df.head()

In [ ]:
def print_unique_col_values(df):
       for column in df:
             # if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

In [ ]:
print_unique_col_values(df)

In [ ]:
# One-Hot Encoding for Location

In [ ]:
df["Location"].unique()

In [ ]:
df = pd.get_dummies(df, columns=['Location'], prefix='Location')
df = df.drop(columns=['Location_Los Angeles'])
df.head()

In [ ]:
bool_columns_to_convert = ['Location_Chicago', 'Location_Houston', 'Location_Miami', 'Location_New York']
df[bool_columns_to_convert] = df[bool_columns_to_convert].astype(int)

In [ ]:
# Label Encoding for Gender

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
print(df['Subscription_Length_Months'].max())

In [ ]:
import matplotlib.pyplot as plt

df['Churn'].value_counts().plot(kind='barh', figsize=(8, 6))
plt.xlabel("Count", labelpad=14)
plt.ylabel("Target Variable", labelpad=14)
plt.title("Count of TARGET Variable per category", y=1.02);

In [ ]:
100*df['Churn'].value_counts()/len(df['Churn'])

In [ ]:
df['Churn'].value_counts()

In [ ]:
import matplotlib.pyplot as plt

# Create subplots for histograms
plt.figure(figsize=(12, 6))

# Age histogram
plt.subplot(2, 3, 1)
plt.hist(df['Age'], bins=20, edgecolor='k')
plt.title('Age Histogram')

# Subscription_Length_Months histogram
plt.subplot(2, 3, 2)
plt.hist(df['Subscription_Length_Months'], bins=20, edgecolor='k')
plt.title('Subscription Length Histogram')

# Monthly_Bill histogram
plt.subplot(2, 3, 3)
plt.hist(df['Monthly_Bill'], bins=20, edgecolor='k')
plt.title('Monthly Bill Histogram')

# Total_Usage_GB histogram
plt.subplot(2, 3, 4)
plt.hist(df['Total_Usage_GB'], bins=20, edgecolor='k')
plt.title('Total Usage Histogram')

plt.tight_layout()
plt.show()

In [ ]:
# Create subplots for bar charts
plt.figure(figsize=(12, 4))

# Gender bar chart
plt.subplot(1, 3, 1)
df['Gender'].value_counts().plot(kind='bar', edgecolor='k')
plt.title('Gender Distribution')

# Churn bar chart
plt.subplot(1, 3, 2)
df['Churn'].value_counts().plot(kind='bar', edgecolor='k')
plt.title('Churn Distribution')

# Location bar chart
plt.subplot(1, 3, 3)
location_columns = ['Location_Chicago', 'Location_Houston', 'Location_Miami', 'Location_New York']
location_counts = df[location_columns].sum()
location_counts.plot(kind='bar', edgecolor='k')
plt.title('Location Distribution')

plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create subplots for univariate analysis
plt.figure(figsize=(15, 5))

# Subscription_Length_Months analysis
plt.subplot(1, 3, 1)
sns.histplot(data=df, x='Subscription_Length_Months', kde=True)
plt.title('Subscription Length Distribution')

# Monthly_Bill analysis
plt.subplot(1, 3, 2)
sns.histplot(data=df, x='Monthly_Bill', kde=True)
plt.title('Monthly Bill Distribution')

# Total_Usage_GB analysis
plt.subplot(1, 3, 3)
sns.histplot(data=df, x='Total_Usage_GB', kde=True)
plt.title('Total Usage Distribution')

plt.tight_layout()
plt.show()

# Summary statistics
print("Summary Statistics:")
print(df[['Subscription_Length_Months', 'Monthly_Bill', 'Total_Usage_GB']].describe())

In [ ]:
# The subscription lengths in the dataset range from a minimum of 1 month to a maximum of 24 months, 
# with 25% of customers having a subscription of 6 months or less,
# 50% having a subscription of 12 months or less,
# and 75% having a subscription of 19 months or less.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Define the bin ranges with 1-month intervals
bins = [i for i in range(0, 25,4)]  # Create bins for each month from 0 to 24

# Create a new column in the DataFrame to represent the bins
df['Subscription_Length_Bin'] = pd.cut(df['Subscription_Length_Months'], bins=bins, right=False)

# Create a bar plot to visualize the distribution
plt.figure(figsize=(12, 6))
sns.countplot(data=df, x='Subscription_Length_Bin', hue='Churn')
plt.xlabel('Subscription Length (Months)')
plt.ylabel('Count')
plt.title('Distribution of Subscription Length vs. Churn (4-Month Intervals)')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create subplots for box plots and histograms
plt.figure(figsize=(12, 6))

# Box plot for subscription length vs. churn
plt.subplot(1, 2, 1)
sns.boxplot(data=df, x='Churn', y='Subscription_Length_Months')
plt.xlabel('Churn')
plt.ylabel('Subscription Length (Months)')
plt.title('Box Plot: Subscription Length vs. Churn')

# Histograms for subscription length for churned and non-churned customers
plt.subplot(1, 2, 2)
sns.histplot(data=df, x='Subscription_Length_Months', hue='Churn', kde=True)
plt.xlabel('Subscription Length (Months)')
plt.ylabel('Count')
plt.title('Histogram: Subscription Length vs. Churn')

plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create subplots for violin plot and kernel density plot
plt.figure(figsize=(12, 6))

# Violin plot for subscription length vs. churn
plt.subplot(1, 2, 1)
sns.violinplot(data=df, x='Churn', y='Subscription_Length_Months', inner='quart')
plt.xlabel('Churn')
plt.ylabel('Subscription Length (Months)')
plt.title('Violin Plot: Subscription Length vs. Churn')

# Kernel density plot for subscription length for churned and non-churned customers
plt.subplot(1, 2, 2)
sns.kdeplot(data=df[df['Churn'] == 0]['Subscription_Length_Months'], label='Non-Churned', shade=True)
sns.kdeplot(data=df[df['Churn'] == 1]['Subscription_Length_Months'], label='Churned', shade=True)
plt.xlabel('Subscription Length (Months)')
plt.ylabel('Density')
plt.title('Kernel Density Plot: Subscription Length vs. Churn')
plt.legend()

plt.tight_layout()
plt.show()

In [ ]:
df["Subscription_Length_Months"].skew()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Define the bin ranges with 100-unit intervals
bill_bins = [i for i in range(0, 101, 10)]  # Create bins for each 100 units from 0 to 100

# Create a new column in the DataFrame to represent the bins
df['Monthly_Bill_Bin'] = pd.cut(df['Monthly_Bill'], bins=bill_bins, right=False)

# Create a bar plot to visualize the distribution
plt.figure(figsize=(12, 6))
sns.countplot(data=df, x='Monthly_Bill_Bin', hue='Churn')
plt.xlabel('Monthly Bill (10-Unit Intervals)')
plt.ylabel('Count')
plt.title('Distribution of Monthly Bill vs. Churn (100-Unit Intervals)')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create subplots for box plots and histograms
plt.figure(figsize=(12, 6))

# Box plot for monthly bill vs. churn
plt.subplot(1, 2, 1)
sns.boxplot(data=df, x='Churn', y='Monthly_Bill')
plt.xlabel('Churn')
plt.ylabel('Monthly Bill')
plt.title('Box Plot: Monthly Bill vs. Churn')

# Histograms for monthly bill for churned and non-churned customers
plt.subplot(1, 2, 2)
sns.histplot(data=df, x='Monthly_Bill', hue='Churn', kde=True)
plt.xlabel('Monthly Bill')
plt.ylabel('Count')
plt.title('Histogram: Monthly Bill vs. Churn')

plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create subplots for violin plot and kernel density plot
plt.figure(figsize=(12, 6))

# Violin plot for monthly bill vs. churn
plt.subplot(1, 2, 1)
sns.violinplot(data=df, x='Churn', y='Monthly_Bill', inner='quart')
plt.xlabel('Churn')
plt.ylabel('Monthly Bill')
plt.title('Violin Plot: Monthly Bill vs. Churn')

# Kernel density plot for monthly bill for churned and non-churned customers
plt.subplot(1, 2, 2)
sns.kdeplot(data=df[df['Churn'] == 0]['Monthly_Bill'], label='Non-Churned', shade=True)
sns.kdeplot(data=df[df['Churn'] == 1]['Monthly_Bill'], label='Churned', shade=True)
plt.xlabel('Monthly Bill')
plt.ylabel('Density')
plt.title('Kernel Density Plot: Monthly Bill vs. Churn')
plt.legend()

plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create a bar plot to visualize the distribution
plt.figure(figsize=(12, 6))
sns.barplot(data=df, x='Churn', y='Total_Usage_GB')
plt.xlabel('Churn')
plt.ylabel('Total Usage (GB)')
plt.title('Distribution of Total Usage vs. Churn')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create subplots for box plot and histogram
plt.figure(figsize=(12, 6))

# Box plot for total usage vs. churn
plt.subplot(1, 2, 1)
sns.boxplot(data=df, x='Churn', y='Total_Usage_GB')
plt.xlabel('Churn')
plt.ylabel('Total Usage (GB)')
plt.title('Box Plot: Total Usage vs. Churn')

# Histograms for total usage for churned and non-churned customers
plt.subplot(1, 2, 2)
sns.histplot(data=df, x='Total_Usage_GB', hue='Churn', kde=True)
plt.xlabel('Total Usage (GB)')
plt.ylabel('Count')
plt.title('Histogram: Total Usage vs. Churn')

plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create subplots for violin plot and kernel density plot
plt.figure(figsize=(12, 6))

# Violin plot for total usage vs. churn
plt.subplot(1, 2, 1)
sns.violinplot(data=df, x='Churn', y='Total_Usage_GB', inner='quart')
plt.xlabel('Churn')
plt.ylabel('Total Usage (GB)')
plt.title('Violin Plot: Total Usage vs. Churn')

# Kernel density plot for total usage for churned and non-churned customers
plt.subplot(1, 2, 2)
sns.kdeplot(data=df[df['Churn'] == 0]['Total_Usage_GB'], label='Non-Churned', shade=True)
sns.kdeplot(data=df[df['Churn'] == 1]['Total_Usage_GB'], label='Churned', shade=True)
plt.xlabel('Total Usage (GB)')
plt.ylabel('Density')
plt.title('Kernel Density Plot: Total Usage vs. Churn')
plt.legend()

plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns


for i, predictor in enumerate(df.drop(columns=['Churn', 'Subscription_Length_Months','Age','Monthly_Bill','Total_Usage_GB'])):
    plt.figure(i)
    sns.countplot(data=df, x=predictor, hue='Churn')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming you have two datasets: age_churn_yes and age_churn_no
age_churn_yes = df[df['Churn'] == 1]['Subscription_Length_Months']
age_churn_no = df[df['Churn'] == 0]['Subscription_Length_Months']

plt.xlabel("Age")
plt.ylabel("Number Of Customers")
plt.title("Customer Churn Prediction Visualization")

plt.hist([age_churn_yes, age_churn_no], bins=10, rwidth=0.95,  label=['Churn=Yes', 'Churn=No'])
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Select only numeric features for correlation analysis
numeric_features = df.select_dtypes(include=[np.number])

# Calculate the correlation between numeric features and 'Churn'
correlations = numeric_features.corr()['Churn'].sort_values(ascending=False)

# Create a figure and axis
plt.figure(figsize=(12, 6))

# Plot the correlations
ax = correlations.plot(kind='bar')
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

plt.xlabel("Features")
plt.ylabel("Correlation with Churn")
plt.title("Correlation between Numeric Features and Churn")
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Select only numeric columns
numeric_columns = df.select_dtypes(include=[np.number])

# Calculate the correlation matrix
correlation_matrix = numeric_columns.corr()

# Create a figure and axis for the heatmap
plt.figure(figsize=(12, 12))
ax = sns.heatmap(correlation_matrix, cmap="coolwarm", annot=True, fmt=".2f", linewidths=0.5)

# Set the title
plt.title("Correlation Heatmap")

# Customize x-axis and y-axis labels
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')
ax.set_yticklabels(ax.get_yticklabels(), rotation=0, horizontalalignment='right')

# Add color bar legend
cbar = ax.collections[0].colorbar
cbar.set_label("Correlation")

# Display the heatmap
plt.show()

In [314]:
df.head()

,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,Location_Chicago,Location_Houston,Location_Miami,Location_New York,Subscription_Length_Bin,Monthly_Bill_Bin
0,0.865385,1,0.695652,0.619429,0.413333,0,0,0,0,0,"[16, 20)","[70, 80)"
1,0.846154,0,0.000000,0.268000,0.271111,0,0,0,0,1,"[0, 4)","[40, 50)"
2,0.115385,0,0.173913,0.792429,0.911111,0,0,0,0,0,"[4, 8)","[80, 90)"
3,0.346154,0,0.086957,0.970571,0.548889,1,0,0,1,0,"[0, 4)","[90, 100)"
4,0.538462,0,0.782609,0.402000,0.480000,0,0,0,1,0,"[16, 20)","[50, 60)"

In [315]:
# Model Building

In [316]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [317]:
df.head()

,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,Location_Chicago,Location_Houston,Location_Miami,Location_New York,Subscription_Length_Bin,Monthly_Bill_Bin
0,0.865385,1,0.695652,0.619429,0.413333,0,0,0,0,0,"[16, 20)","[70, 80)"
1,0.846154,0,0.000000,0.268000,0.271111,0,0,0,0,1,"[0, 4)","[40, 50)"
2,0.115385,0,0.173913,0.792429,0.911111,0,0,0,0,0,"[4, 8)","[80, 90)"
3,0.346154,0,0.086957,0.970571,0.548889,1,0,0,1,0,"[0, 4)","[90, 100)"
4,0.538462,0,0.782609,0.402000,0.480000,0,0,0,1,0,"[16, 20)","[50, 60)"

In [318]:
cols_to_scale = ['Age','Total_Usage_GB','Monthly_Bill','Subscription_Length_Months']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [319]:
X = df.drop(['Churn', 'Subscription_Length_Bin', 'Monthly_Bill_Bin','Location_Houston','Location_Chicago','Location_Miami','Location_New York'], axis=1)
print(X)

            Age  Gender  Subscription_Length_Months  Monthly_Bill  \
0      0.865385       1                    0.695652      0.619429
1      0.846154       0                    0.000000      0.268000
2      0.115385       0                    0.173913      0.792429
3      0.346154       0                    0.086957      0.970571
4      0.538462       0                    0.782609      0.402000
...         ...     ...                         ...           ...
99995  0.288462       1                    0.956522      0.359000
99996  0.846154       0                    0.782609      0.452143
99997  0.884615       1                    0.695652      0.944429
99998  0.634615       0                    0.826087      0.275000
99999  0.173077       0                    0.782609      0.665286

       Total_Usage_GB
0            0.413333
1            0.271111
2            0.911111
3            0.548889
4            0.480000
...               ...
99995        0.391111
99996        0.668889
99997        0.446667
99998        0.853333
99999        0.273333

[100000 rows x 5 columns]

In [320]:
y=df['Churn']
y

0        0
1        0
2        0
3        1
4        0
        ..
99995    1
99996    0
99997    1
99998    1
99999    1
Name: Churn, Length: 100000, dtype: int64

In [321]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [322]:
X_train.shape

(80000, 5)

In [323]:
X_test.shape

(20000, 5)

In [324]:
X_train.head()

,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB
46628,0.288462,1,0.652174,0.100571,0.264444
92846,0.442308,1,0.304348,0.797429,0.075556
30440,0.442308,0,0.565217,0.681429,0.771111
79978,0.076923,1,0.478261,0.547000,0.288889
85038,0.230769,1,0.739130,0.817857,1.000000

In [325]:
X_test.head()

,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB
60743,0.173077,1,0.043478,0.426000,0.697778
33949,0.326923,1,0.869565,0.247857,0.826667
52805,0.865385,0,0.217391,0.941571,0.755556
11804,0.903846,1,0.652174,0.066143,0.020000
9229,0.519231,0,0.913043,0.904714,0.795556

In [ ]:
# LinearRegression

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Square Error (RMSE):", rmse)

In [326]:
#LogisticRegression

In [327]:
from sklearn.linear_model import LogisticRegression

# Create a Logistic Regression model
model_lr = LogisticRegression(random_state=5)

# Fit the model to the training data
model_lr.fit(X_train, y_train)

# Predict on the test data
y_pred_lr = model_lr.predict(X_test)

# Evaluate the model's accuracy
accuracy_lr = model_lr.score(X_test, y_test)
print("Logistic Regression Accuracy:", accuracy_lr)

Logistic Regression Accuracy: 0.4965

In [328]:
#svm

In [ ]:
from sklearn.svm import SVC

# Create an SVM model
model_svm = SVC(random_state=5)

# Fit the model to the training data
model_svm.fit(X_train, y_train)

# Predict on the test data
y_pred_svm = model_svm.predict(X_test)

# Evaluate the model's accuracy
accuracy_svm = model_svm.score(X_test, y_test)
print("SVM Accuracy:", accuracy_svm)

In [ ]:
# Decision Tree Classifier

In [ ]:
model_dt = DecisionTreeClassifier(criterion="gini", random_state=100, max_depth=6, min_samples_leaf=8)

In [ ]:
model_dt.fit(X_train,y_train)

In [ ]:
y_pred = model_dt.predict(X_test)

In [ ]:
model_dt.score(X_test,y_test)

In [ ]:
print(classification_report(y_test, y_pred, labels=[0,1]))

In [ ]:
from imblearn.combine import SMOTEENN

# Initialize the SMOTEENN object
smote_enn = SMOTEENN()

# Fit and resample your data
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

In [ ]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [ ]:
model_dt_smote=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [ ]:
model_dt_smote.fit(xr_train,yr_train)
yr_predict = model_dt_smote.predict(xr_test)
model_score_r = model_dt_smote.score(xr_test, yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test, yr_predict))

In [ ]:
# Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model_rf=RandomForestClassifier( )

In [ ]:
model_rf.fit(X_train,y_train)

In [ ]:
y_pred=model_rf.predict(X_test)

In [ ]:
model_rf.score(X_test,y_test)

In [ ]:
print(classification_report(y_test, y_pred, labels=[0,1]))